<h2>Messages</h2>
<% @user.received_messages.each do |message| %>
	<div class="panel panel-default">
  	<div class="panel-body">
  		<p>From: <%= message.from.name %></p>
  		<p>To: <%= message.to.name %></p>
			<h4>Subject: <%= message.subject %></h4>
			<p><%= message.content %></p>
		</div>
	</div>	
<% end %>
