<div class="row">
  <div class="col-md-6 col-md-offset-3">
  	<% if policy(@comment).update? %>
	    <%= form_for [@comment.commentable, @comment] do %>
	      <textarea name="content" class="form-control floating-label" rows="5"><%= @comment.content %></textarea>
	      <input type="submit" class="btn btn-material-indigo" value="<%= t(".submit") %>"/>
	    <% end %>
    <% end %>
    <a href="/"><%= t(".back") %></a>
  </div>
</div>