<h2>Edit comment on article </h2>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_tag "/comments/#{params[:id]}", method: "patch" do %>
      <textarea name="content" class="form-control floating-label" rows="5"><%= @comment.content %></textarea>
      <input type="submit" class="btn btn-material-indigo" value="<%= t(".submit") %>"/>
    <% end %>
    <a href="/"><%= t(".back") %></a>
  </div>
</div>