<h1>Contact Us</h1>
<%= form_tag "/contact", method: "post" do %>
	<input type="email" name="contact[email]" placeholder="Email" />
	<textarea name="contact[content]" placeholder="Content"></textarea>
	<input type="submit" value="Submit" />
<% end %> 
